*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  // @include respond("laptop") {
  //   box-sizing: border-box;
  //   scroll-snap-type: mandatory;
  //   //scroll-snap-points-y: repeat(100vh);
  //   scroll-snap-type: y mandatory;
  //   //scroll-behavior: smooth;
  //   transition: all 700ms ease;
  // }

  //overflow-y: scroll;
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  position: relative;
  background-color: #00c1b5;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  height: max-content;
  transition: all 0.4s ease-out;

  overflow-x: hidden;
  padding: 2rem 1.5rem;
  padding-bottom: 1.8rem;
}

.container {
  transition: all 1s ease;
}
