.container {
  display: flex;
  flex-direction: column;
  width: fit-content;

  margin: 0 auto;
  z-index: 5000;

  @include respond("tablet") {
    width: calc(min(50%, fit-content));
  }

  @include respond("laptop") {
    touch-action: none;

    & > * {
      touch-action: none;
    }
    //transform: translate3d(0, 0, 0);
  }
}
