.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 62em) {
  .container {
    -ms-touch-action: none;
        touch-action: none;
  }
  .container > * {
    -ms-touch-action: none;
        touch-action: none;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1.4;
  position: relative;
  background-color: #00c1b5;
  color: #251d20;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  overflow-x: hidden;
  padding: 2rem 1.5rem;
  padding-bottom: 1.8rem;
}

.container {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% - 3rem);
}

@media (min-width: 62em) {
  .nav {
    position: fixed;
  }
}

.nav__logo {
  width: 16rem;
  height: auto;
}

@media (min-width: 48em) {
  .nav__logo {
    width: 26rem;
  }
}

.nav__link {
  display: none;
}

@media (min-width: 62em) {
  .nav__link {
    display: block;
    font-size: 1.8rem;
    font-weight: 700;
    color: inherit;
    text-decoration: none;
  }
}

.bottom {
  text-align: center;
  z-index: 1;
}

@media (min-width: 62em) {
  .bottom {
    position: fixed;
    bottom: 1.8rem;
    left: 2rem;
    -ms-touch-action: none;
        touch-action: none;
  }
}

.bottom__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media (min-width: 62em) {
  .bottom__left {
    width: 50%;
  }
}

.bottom__left > * {
  color: inherit;
  font-weight: 700;
  font-size: 1.8rem;
}

@media (min-width: 48em) {
  .bottom__left--info {
    width: 30%;
    text-align: left;
  }
}

@media (min-width: 62em) {
  .bottom__left--info {
    width: 60%;
  }
}

.bottom__left--copyright {
  font-size: 1.2rem;
  padding-block: 0.5rem;
  font-weight: 400;
}

@media (min-width: 48em) {
  .bottom__left--copyright {
    text-align: left;
  }
}

.bottom__left--publisher {
  color: inherit;
}

.bottom__left--policy {
  margin-top: 2rem;
}

@media (min-width: 48em) {
  .bottom__left--policy {
    text-align: left;
  }
}

.bottom__left--email {
  text-decoration: none;
  margin-block: 5rem;
}

@media (min-width: 48em) {
  .bottom__left--email {
    margin-block: 0;
    padding: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 62em) {
  .bottom__left--email {
    display: none;
  }
}

.bottom__right {
  display: none;
}

@media (min-width: 62em) {
  .bottom__right {
    display: inline-block;
    position: fixed;
    bottom: 1.8rem;
    right: 1.8rem;
  }
}

.bottom__right--issues {
  list-style: none;
}

.bottom__right--issue a {
  color: inherit;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.6;
}

#issue--1 {
  font-weight: 700;
}

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__issue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.issue > * {
  text-align: center;
}

.issue__book {
  width: calc(min(80%, 42rem));
  padding-top: 20vh;
}

@media (min-width: 28em) {
  .issue__book {
    padding-top: 10vh;
  }
}

@media (min-width: 48em) {
  .issue__book {
    padding-top: 8vw;
  }
}

@media (min-width: 62em) {
  .issue__book {
    padding-top: 6.2vw;
  }
}

.issue__number {
  font-size: 1.8rem;
}

.issue__link {
  font-size: 1.5rem;
  margin-top: 2rem;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
}

.issue__stores {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 1.5rem;
  padding-inline: 1.5rem;
  text-align: center;
}

.issue__stores--link {
  color: #fff;
  text-decoration: none;
}

.bottom__right a:hover {
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */