.bottom {
  text-align: center;

  @include respond("laptop") {
    position: fixed;
    bottom: 1.8rem;
    left: 2rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 50%;

    & > * {
      color: inherit;
      font-weight: 700;
      font-size: 1.8rem;
    }
    &--info {
      @include respond("tablet") {
        width: 60%;
        text-align: left;
      }
    }

    &--copyright {
      font-size: 1.2rem;
      padding-block: 0.5rem;
      font-weight: 400;

      @include respond("tablet") {
        text-align: left;
      }
    }

    &--publisher {
      color: inherit;
    }

    &--policy {
      margin-top: 2rem;
      @include respond("tablet") {
        text-align: left;
      }
    }

    &--email {
      text-decoration: none;
      margin-block: 5rem;

      @include respond("tablet") {
        margin-block: 0;
        padding: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      @include respond("laptop") {
        display: none;
      }
    }
  }

  &__right {
    display: none;
    &--issues {
    }

    &--issue {
    }
  }
}
