.bottom {
  text-align: center;
  z-index: 1;

  @include respond("laptop") {
    position: fixed;
    bottom: 1.8rem;
    left: 2rem;
    touch-action: none;
  }

  &__left {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include respond("laptop") {
      width: 50%;
    }

    & > * {
      color: inherit;
      font-weight: 700;
      font-size: 1.8rem;
    }
    &--info {
      @include respond("tablet") {
        width: 30%;
        text-align: left;
      }

      @include respond("laptop") {
        width: 60%;
      }
    }

    &--copyright {
      font-size: 1.2rem;
      padding-block: 0.5rem;
      font-weight: 400;

      @include respond("tablet") {
        text-align: left;
      }
    }

    &--publisher {
      color: inherit;
    }

    &--policy {
      margin-top: 2rem;
      @include respond("tablet") {
        text-align: left;
      }
    }

    &--email {
      text-decoration: none;
      margin-block: 5rem;

      @include respond("tablet") {
        margin-block: 0;
        padding: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
      }

      @include respond("laptop") {
        display: none;
      }
    }
  }

  &__right {
    display: none;

    @include respond("laptop") {
      display: inline-block;
      position: fixed;
      bottom: 1.8rem;
      right: 1.8rem;
    }

    &--issues {
      list-style: none;
    }

    &--issue {
      a {
        color: inherit;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.6;
      }
    }
  }
}

#issue {
  &--1 {
  }
  &--2 {
  }
  &--3 {
  }
  &--4 {
  }
  &--5 {
  }
}
